[Unit]
Description=Automatic backup of Minecraft Server

[Service]
Type=simple
User=minecraftuser
Group=minecraftuser
ExecStart=/var/minecraft/server.sh backup
Restart=on-failure
RestartSec=10s
StartLimitInterval=10min
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
